/* ---------------------------------------------- */
/* Navbar */
/* ---------------------------------------------- */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: 600;
    color: var(--text-color);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 3px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: var(--background-color);
        padding: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }
}


nav#main-navbar {
    background-color: transparent;
}

nav#main-navbar.navbar-scrolled {
    background-color: var(--black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}