/* ---------------------------------------------- */
/* Intro Section */
/* ---------------------------------------------- */

#intro {
    padding: 4rem 0;
    background-color: var(--black);
    color: var(--white);
}

#intro h2 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#intro h2, #intro p {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
