/* ---------------------------------------------- */
/* Section Template */
/* ---------------------------------------------- */

section {
    padding: 3rem 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
}




section h2 {
    color: var(--primary-color);
    margin: 4rem 2rem;
}


section button, section a.btn-primary {
    background-color: var(--secondary-color);
    color: var(--secondary-background-color);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}


section button.btn-negative, section a.btn-negative {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}


section a {
    color: var(--secondary-color);
    text-decoration: none;
}
